// Specific CSS for your home-page
.text-center {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
}

.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-size: cover;
  background-position: center;
  align-items: center;
}

.product-button {
  display: flex;
  justify-content: center;
  padding-bottom: 125px;
  padding-top: 60px;
}

a {
  color: #343A40;
  &:hover {
    color: #F2FFF3;
    text-decoration: none;
  }
}

#carouselExampleIndicators .carousel-item img {
  max-height: 610px;
  object-fit: cover;
}

.page-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #343a40;
    color : #F2FFF3;
    justify-content: center;
  }
