<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">PlusSizeMe</a>
  <form class="form-inline">
    <input type="text" name="search" id="search_query" value="" placeholder="🔎" class="form-control" style= "margin-right: 700px;" label_html="{:class=>&quot;my_class&quot;}">
    <a class="btn btn-outline-primary" href="/login" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/signup" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>
