<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"><strong>PLUS SIZE ME</strong></a>
  <form class="form-inline">
    <input type="text" name="search" id="search_query" value="" placeholder="Search" class="form-control pr-5 mr-3" label_html="{:class=>&quot;my_class&quot;}">
    <a class="btn btn-outline-dark" href="/users/sign_in" role="button">Login</a>
    <a class="btn btn-dark ml-2" href="/users/sign_up" role="button">Sign Up</a>
    <a class="btn btn-outline-dark ml-2" href="/products/new" role="button">Add Product</a>
  </form>
</nav>
