<body>
  <div class="banner">
    <div class="container" style="text-align: center">
      <img src="">
      <h1>Live It Up in <strong>Plus Size Fashion</strong></h1>
    </div>
  </div>

  <div class="card">
    <div class="card1">
      <img src="">
      <h1>???</h1>
    </div>
  </div>

  <div class="card">
    <div class="card2">
      <img src="">
      <h1>???</h1>
    </div>
  </div>

  <div class="card">
    <div class="card3">
      <img src="">
      <h1>????</h1>
    </div>
  </div>
</body>

<p><%= link_to "All Products", products_path %></p>
