<!DOCTYPE html>
<html>
<head>
  <title>Plus Size Me</title>
</head>
<body>
  <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="container" style="text-align: center;">
      <img src="">
      <h1>Live It Up in <strong>Plus Size Fashion</strong></h1>
    </div>
  </div>

  <div class="card">
    <div class="card1">
      <img src="">
      <h1>???</h1>
    </div>
  </div>

  <div class="card">
    <div class="card2">
      <img src="">
      <h1>???</h1>
    </div>
  </div>

  <div class="card">
    <div class="card3">
      <img src="">
      <h1>????</h1>
    </div>
  </div>




    </div>
  </div>


</body>


</html>








