<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<h1>Categories</h1>
</body>

<footer class="footer">
    <div class="container">
        <ul>
          <li><%= link_to "Contact us", "#" %></li>
          <li><%= link_to "How it works?", "#" %></li>
          <li><%= link_to "Terms of use", "#" %></li>
        </ul>
    </div>
  </footer>
<h1></h1>
<p></p>
</html>







