<!DOCTYPE html>
<html>
<head>
  <title>Plus Size Me</title>
</head>
<body>
  <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="container" style="text-align: center;">
      <img src="">
      <h1>Live It Up in <strong>Plus Size Fashion</strong></h1>
    </div>
  </div>

  <div class="card">
    <img src="images/search.png" alt="">
    <h4>Search</h4>
    <p>What would you like to wear? Take a look and find it!</p>
  </div>

  <div class="card">
    <img src="images/shopping.png" alt="">
    <h4>Choose</h4>
    <p>Select you favorite brand and your size and add it to your cart</p>
  </div>

  <div class="card">
    <img src="images/verified.png" alt="">
    <h4>Borrow</h4>
    <p>Proceed with the payment and receive it in your house!</p>
  </div>




    </div>
  </div>


</body>


</html>








