<!-- <p><%= link_to "Add A Product", new_product_path %></p> --> <%# Move to navbar if user authorized %>

<div class="card-deck">
  <% @products.each do |product| %>
  <div class="row card-img-top col-md-3" >
    <%= link_to product_path(product.id) do %>
      <img class="card-img-top"><%= cl_image_tag product.photo.key, height: 280, width: 280, crop: :fill, alt: product.name %>
      <p><%= product.name.upcase %></p>
    <% end %>
  </div>
  <% end %>
</div>

