
<!-- <p><%= link_to "Add A Product", new_product_path %></p> --> <%# Move to navbar if user authorized %>

<div class="card-deck">
  <% @products.each do |product| %>
  <div class="card">
    <img class="card-img-top">
    <div class="card-footer">
      <p class="card-text"> <%= product.name %></p>
    </div>
  </div>
  <% end %>
</div>
